.FirstPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: aqua;

    &__button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 15px;
        //border-color: blanchedalmond;
        //color: brown;

        & Button {
            color: black;
        }

        & .button--ukr{
            margin-right: 80px;
        }
    }
}

