.ButtonBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 90px;

    & .accept {
        margin-left: 15px;
        color: #ffffff;
    }

    & .exit {
        color: #000000;
    }

  @keyframes popup_animation_frames--fadeIn {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
  }
  @keyframes popup_animation_frames--fadeOut {
    from {top:0px;opacity:1;}
    to {top:-100px;opacity: 0;}
  }
  &__Dialog {
    &:not(.ButtonBlock__Dialog--fadeOut) {
      animation-name: popup_animation_frames--fadeIn;
      animation-duration: 0.5s;
    }

    &--fadeOut {
      animation-name: popup_animation_frames--fadeOut;
      animation-duration: 1s;
    }
  }

}

.MuiDialog-paper {
  height: 65%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  & p{
    font-size: 40px;
    color: #009624;
  }

  & .MuiSvgIcon-root {
    margin-bottom: 15px;
    font-size: 7rem;
    color: #009624;
    width: 100%;
    height: 30%;
  }

}

@media screen and (max-width: 600px) {
    .ButtonBlock {
      margin-bottom: 50px;

      & .exit {
        margin-right: 40px;
      }
    }
}

